#main-container {
    background: #000;
}

#cover {
    margin: 0 auto;
    max-width: 100%;
    height: 100vh;
    background-image: url('img/potential4.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
}

.change-color {
    fill: green;
}

#content {
    position: relative;
    margin-top: 250px;
    max-width: 80%;
    height: 500px;
    border: 1px solid red;
}
