#main-container {
    background: #000;
}

#cover {
    margin: 0 auto;
    max-width: 100%;
    height: 100vh;
    background-image: url('img/bg_img.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    filter: brightness(.5);
}

#content {
    position: relative;
}